.App {
  text-align: center;
}

.count{
  font-size: 7rem;
  font-family: Georgia, serif ;
 
 
}
.but1{
  margin: 2rem;
  border: 0.2rem solid blue;
  font-size: 20px;
  background-color: greenyellow;
  cursor: pointer;
  
}
.but2{
  margin: 2rem;
  border: 0.2rem solid blue;
  font-size: 20px;
  background-color:aqua;
  color:black;
  cursor: pointer;
}
.but3{
  margin: 2rem;
  border: 0.2rem solid blue;
  font-size: 20px;
  background-color: yellow;
  cursor: pointer;
}
.but4{
  margin: 2rem;
  border: 0.2rem solid blue;
  font-size: 20px;
  background-color: orange;
  color:white;
  cursor: pointer;
}
.title{
  color:violet;
  font-family: comic sans ms ;
}
.but0{
  border: 0.2rem solid gold;
  background-color: red;
  color: white;
  border-radius: 50px;
  font-size: 30px;
  cursor: move;
}